<div>
    <table data-dojo-type="dojox/grid/DataGrid"
           data-dojo-attach-point="dg"
           style="width: 90%; height: 100%;">

        <thead>
            <tr>
                <th  field="Name">Название</th>
                <th field="about" >Описание</th>
                <th  field="StartDateTime">Начало</th>
                <th field="FinishDateTime">Окончание</th>
                <th field="Executors">Исполнители</th>
                <th field="curators">Кураторы</th>
                <th field="Necessary">Необходимо</th>
                <th field="Sufficiently">Достаточно</th>
                <th field="finish3">Следует</th>
            </tr>
        </thead>
    </table>
</div>