<div>
    <table data-dojo-type="dojox/grid/DataGrid"
           data-dojo-attach-point="dg"
           style="width: 90%; height: 100%;">

        <thead>
            <tr>
                <th  field="name">Название</th>
                <th field="about" >Описание</th>
                <th  field="start">Начало</th>
                <th field="finish">Окончание</th>
                <th field="executors">Исполнители</th>
                <th field="curators">Кураторы</th>
                <th field="finish1">Необходимо</th>
                <th field="finish2">Достаточно</th>
                <th field="finish3">Следует</th>
            </tr>
        </thead>
    </table>
</div>