<div>
    <table data-dojo-type="dojox/grid/DataGrid"
           data-dojo-attach-point="dg"
           data-dojo-props="canSort:false"
           style="width: 100%; height: 100%;">

        <thead>
            <tr>
                <th  field="_id">Код</th>
                <th  field="_Name">Название</th>
                <th field="_about" >Описание</th>
                <th  field="_StartDateTime">Начало</th>
                <th field="_FinishDateTime">Окончание</th>
                <th field="_Executors">Исполнители</th>
                <th field="_curators">Кураторы</th>
                <th field="_Necessary">Необходимо</th>
                <th field="_Sufficiently">Достаточно</th>
                <th field="_Сonsequence">Следует</th>
            </tr>
        </thead>
    </table>
</div>