<div>
    <div data-dojo-type="wm/shorttask" data-dojo-props="region:'top'" data-dojo-attach-point='st' style="width: 100%;height: 50%"></div>
    <table data-dojo-type="dojox/grid/DataGrid"
           data-dojo-attach-point="dg"
           data-dojo-props="region:'bottom', escapeHTMLInData:false, keepSelection: true, query: ' '"
           style="width: 100%; height: 30%;">

        <thead>
            <tr>
                <th  type="dojox.grid._RadioSelector"></th>
                <th  field="name">Название</th>
                <th field="about" >Описание</th>
                <th  field="start">Начало</th>
                <th field="finish">Окончание</th>
            </tr>
        </thead>
    </table>
    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="selectButton">Выбрать</div>
    <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="cancelButton">Отмена</div>
</div>